.app {
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.app__body {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 35px;
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 989px) {
    .app__body {
        padding-right: 0px;
    }
}


@media screen and (max-width: 628px) {
    .app__body {
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
    }
}